.property-card {
    border-radius: 12px;
    overflow: hidden;
}

.property-badge {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px 10px;
    background-color: #05C367DB;
    border-radius: 4px;
    font-weight: 400;
    color: #FFFFFF;
}

.property-content {
    background-color: #D9D9D9;

    .property-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 20.5px;
        color: var(--sp-text-dark) !important;
    }
    .property-price {
        color: var(--sp-color-secondary);
        font-size: 20px;
        font-weight: 700;
        line-height: 49px;
    }

}
