<div class="sec-hero position-relative">
    <img class="img img-fluid hero-img" src="assets/img/about/banner.png">
    <div class="hero-content w-100">
        <div class="container">
            <h4 class="text-white heading-lg mb-5">About Us</h4>
        </div>
    </div>
</div>
<div class="sp-bg-primary">
    <section class="sec-about container py-5">
        <div class="row pb-5">
            <div class="col-lg-6">
                <h5 class="heading-md mb-4"><span class="text-white">About </span><span class="sp-sub-secondary">Supreme
                    </span><br><span class="sp-primary">Properties</span></h5>
                <p class="sp-text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id
                    voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus
                    odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
                <p class="sp-text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id
                    voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus
                    odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
            </div>
            <div class="col-lg-6">
                <div class="about-img position-relative ms-auto me-lg-0 me-auto">
                    <img class="img img-fluid" src="assets/img/about/about.png">
                </div>
            </div>
        </div>
    </section>
    <section class="sec-service">
        <div class="half-container g-0">
            <div class="row g-0">
                <div class="col-lg-7 my-auto pe-lg-3 pe-0">
                    <div class="container container-lg-fluid g-lg-0">
                        <h5 class="heading-md sp-text-dark mb-5 mt-4">Let’s find the right <br>selling option for you
                        </h5>
                        <div class="d-flex mb-4">
                            <div class="home-icon">
                                <img class="img img-fluid" src="assets/icons/green-home.svg">
                            </div>
                            <div class="ps-3">
                                <h6 class="fs-20 fw-semi sp-text-dark">Property Management</h6>
                                <p class="sp-text">Creating a higher spacing and how people move through a unique and
                                    impactful campaign.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="home-icon">
                                <img class="img img-fluid" src="assets/icons/green-home.svg">
                            </div>
                            <div class="ps-3">
                                <h6 class="fs-20 fw-semi sp-text-dark">Mortgage Services</h6>
                                <p class="sp-text">Creating a higher spacing and how people move through a unique and
                                    impactful campaign.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="home-icon">
                                <img class="img img-fluid" src="assets/icons/green-home.svg">
                            </div>
                            <div class="ps-3">
                                <h6 class="fs-20 fw-semi sp-text-dark">Currency Services</h6>
                                <p class="sp-text">Creating a higher spacing and how people move through a unique and
                                    impactful campaign.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img img-fluid w-100" src="assets/img/about/family.png">
                </div>
            </div>
        </div>
    </section>

    <section class="sec-capablity position-relative py-5">
        <div class="container position-relative">
            <div class="row pt-5 pb-4">
                <div class="col-md-5">
                    <h6 class="sp-sub-secondary fs-20 fw-semi">Capablities</h6>
                    <h5 class="heading-md text-white">Awesome Real Estate Company for Housing and Construction.</h5>
                </div>
                <div class="col-md-7 mt-md-0 mt-3">
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="capablity-card">
                                <h5 class="text-white capablity-count position-relative mb-4">01</h5>
                                <h6 class="mb-3 sp-tertiary fs-24 capablity-heading"><img class="img img-fluid pe-2"
                                        src="../../assets/icons/property.svg">Property Booking</h6>
                                <p class="sp-text-tertiary">Creating a higher spacing and how people move through a
                                    unique and impactful campaign.</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="capablity-card">
                                <h5 class="text-white capablity-count position-relative mb-4">02</h5>
                                <h6 class="mb-3 sp-tertiary fs-24 capablity-heading"><img class="img img-fluid pe-2"
                                        src="../../assets/icons/protection.svg">Payment Guarantee</h6>
                                <p class="sp-text-tertiary">Creating a higher spacing and how people move through a
                                    unique and impactful campaign.</p>
                            </div>
                        </div>
                        <div class="col-6 pt-md-4 pt-3">
                            <div class="capablity-card">
                                <h5 class="text-white capablity-count position-relative mb-4">03</h5>
                                <h6 class="mb-3 sp-tertiary fs-24 capablity-heading"><img class="img img-fluid pe-2"
                                        src="../../assets/icons/management.svg">House Management</h6>
                                <p class="sp-text-tertiary">Creating a higher spacing and how people move through a
                                    unique and impactful campaign.</p>
                            </div>
                        </div>
                        <div class="col-6 pt-md-4 pt-3">
                            <div class="capablity-card">
                                <h5 class="text-white capablity-count position-relative mb-4">04</h5>
                                <h6 class="mb-3 sp-tertiary fs-24 capablity-heading"><img class="img img-fluid pe-2"
                                        src="../../assets/icons/payment.svg">Property Deal</h6>
                                <p class="sp-text-tertiary">Creating a higher spacing and how people move through a
                                    unique and impactful campaign.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-choose-us">
        <div class="container pt-3 pb-5">
            <h4 class="heading-md text-white text-center pt-5">Why choose us</h4>
            <p class="heading-width sp-text-light text-center mx-auto">It’s our job to make sure that you get the best
                possible deal on the property.</p>

            <div class="row pb-5 pt-4">
                <div class="col-md-4">
                    <div class="choose-card text-center h-100">
                        <img class="img img-fluid choose-icon" src="assets/img/about/house.svg">
                        <p class="text-white fs-18 fw-semi mt-3">Thousands of posts every day</p>
                        <img class="img img-fluid choose-banner" src="assets/img/about/banner1.png">
                        <p class="sp-text-light">The lists are always refreshed and updated constantly, you will never
                            miss</p>
                    </div>
                </div>
                <div class="col-md-4 mt-md-0 mt-3">
                    <div class="choose-card text-center h-100">
                        <img class="img img-fluid choose-icon" src="assets/img/about/filter.svg">
                        <p class="text-white fs-18 fw-semi mt-3">Smart filter</p>
                        <img class="img img-fluid choose-banner" src="assets/img/about/banner2.png">
                        <p class="sp-text-light">The lists are always refreshed and updated constantly, you will never
                            miss</p>
                    </div>
                </div>
                <div class="col-md-4 mt-md-0 mt-3">
                    <div class="choose-card text-center h-100">
                        <img class="img img-fluid choose-icon" src="../../assets/img/about/service.svg">
                        <p class="text-white fs-18 fw-semi mt-3">Great support</p>
                        <img class="img img-fluid choose-banner" src="assets/img/about/banner3.png">
                        <p class="sp-text-light">The lists are always refreshed and updated constantly, you will never
                            miss</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-counts">
        <div class="container py-3">
            <div class="row py-5">
                <div class="col-md-3 col-6">
                    <div class="counts d-flex py-4">
                        <img class="img img-fluid" src="assets/icons/blue-home.svg">
                        <div class="ms-3">
                            <h4 class="text-white fs-36">300</h4>
                            <p class="sp-sub-secondary fs-18 mb-0">Sold Houses</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counts d-flex justify-content-md-center justify-content-end py-4">
                        <img class="img img-fluid" src="assets/icons/blue-home.svg">
                        <div class="ms-3">
                            <h4 class="text-white fs-36">150</h4>
                            <p class="sp-sub-secondary fs-18 mb-0">Daily Lisitings</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counts d-flex justify-content-md-center justify-content-start py-4">
                        <img class="img img-fluid" src="assets/icons/blue-home.svg">
                        <div class="ms-3">
                            <h4 class="text-white fs-36">150</h4>
                            <p class="sp-sub-secondary fs-18 mb-0">Expert Agent</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counts d-flex justify-content-end py-4">
                        <img class="img img-fluid" src="assets/icons/blue-home.svg">
                        <div class="ms-3">
                            <h4 class="text-white fs-36">300</h4>
                            <p class="sp-sub-secondary fs-18 mb-0">Won Awars</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-agents py-5 position-relative">
        <div class="container py-3">
            <h4 class="heading-md text-white text-center pt-5">Meet the agents</h4>
            <p class="heading-width sp-text-light text-center mx-auto">Publish the best of your client testimonials and
                let the world know what a great agent or real estate agency you are. Testimonials build trust.</p>

            <div class="row py-4">
                <div class="col-md-4">
                    <div class="agent-card">
                        <div class="agent-card-img position-relative">
                            <img class="img w-100 agent-img" src="assets/img/about/agent1.png">
                            <div class="agent-contact-container">
                                <a class="agent-contact" href=""><img class="img img-fluid fb"
                                        src="assets/icons/fb.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid twitter"
                                        src="assets/icons/twitter.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid phone"
                                        src="assets/icons/phone.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid mail"
                                        src="assets/icons/mail.svg"></a>
                            </div>
                        </div>
                        <div class="py-4 px-3">
                            <h6 class="fs-16 fw-semi text-white mb-1">K.V.Saravanan</h6>
                            <p class="sp-sub-secondary fs-14 mb-0">Manager Director</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-3">
                    <div class="agent-card">
                        <div class="agent-card-img position-relative">
                            <img class="img w-100 agent-img" src="assets/img/about/agent2.png">
                            <div class="agent-contact-container">
                                <a class="agent-contact" href=""><img class="img img-fluid fb"
                                        src="assets/icons/fb.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid twitter"
                                        src="assets/icons/twitter.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid phone"
                                        src="assets/icons/phone.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid mail"
                                        src="assets/icons/mail.svg"></a>
                            </div>
                        </div>
                        <div class="py-4 px-3">
                            <h6 class="fs-16 fw-semi text-white mb-1">A.Meena</h6>
                            <p class="sp-sub-secondary fs-14 mb-0">Manager Director</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-3">
                    <div class="agent-card">
                        <div class="agent-card-img position-relative">
                            <img class="img w-100 agent-img" src="assets/img/about/agent1.png">
                            <div class="agent-contact-container">
                                <a class="agent-contact" href=""><img class="img img-fluid fb"
                                        src="assets/icons/fb.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid twitter"
                                        src="assets/icons/twitter.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid phone"
                                        src="assets/icons/phone.svg"></a>
                                <a class="agent-contact" href=""><img class="img img-fluid mail"
                                        src="assets/icons/mail.svg"></a>
                            </div>
                        </div>
                        <div class="py-4 px-3">
                            <h6 class="fs-16 fw-semi text-white mb-1">K.V.Saravanan</h6>
                            <p class="sp-sub-secondary fs-14 mb-0">Manager Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>