.sec-hero {
    height: 75vh;

    .hero-img {
        height: 100% !important;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero-content {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.sec-hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(231.43deg, rgba(0, 0, 0, 0.0001) 51.55%, rgba(0, 0, 0, 0.837986) 100.85%);
}

// About us section 

.sec-about {
    .about-img {
        height: 364px;
        width: 435px;
    }

    .about-img img {
        position: relative;
        z-index: 1;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        padding-right: 25px;
    }

    .about-img::before {
        content: '';
        width: calc(100% - 25px);
        height: 100%;
        position: absolute;
        bottom: -25px;
        right: 0px;
        background-color: var(--sp-color-tertiary);
        z-index: 0;
    }
}

@media (max-width: 540px) {
    .sec-about {
        .about-img {
            height: 100%;
            width: 100%;
        }
    }
}

// Section service

.sec-service {
    background-color: #DEF1FF;

    .home-icon {
        width: 68px;
        height: 68px;
        background-color: #FFFFFF;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
            height: 35px;
        }
    }
}

@media (min-width: 768px) {
    .half-container {
        max-width: 100%;
        margin-left: unset;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .half-container {
        max-width: calc(960px + ((100vw - 960px)/2));
        margin-left: auto;
        padding-left: calc(1.5rem /2);
    }
}

@media (min-width: 1200px) {
    .half-container {
        max-width: calc(1140px + ((100vw - 1140px)/2));
        margin-left: auto;
        padding-left: calc(1.5rem /2);
    }
}

@media (min-width: 1400px) {
    .half-container {
        max-width: calc(1320px + ((100vw - 1320px)/2));
        margin-left: auto;
        padding-left: calc(1.5rem /2);
    }
}

// Section capablities 
.sec-capablity::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/home/icon-bg-2.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(5deg);
    z-index: 0;
}

.sec-capablity {
    overflow: hidden;

    .container {
        z-index: 1;
    }

    .capablity-card {
        .capablity-count {
            font-size: 36px;
            line-height: 49px;
        }

        .capablity-count::before {
            content: '';
            width: 40px;
            height: 1px;
            background-color: var(--sp-color-tertiary);
            position: absolute;
            bottom: -2px;
            left: 0px;
        }

    }
}

@media(max-width: 768px) {
    .sec-capablity {
        overflow: hidden;

        .capablity-card {
            .capablity-count {
                font-size: 24px;
                line-height: 30px;
            }

            .capablity-heading {
                font-size: 20px !important;
            }
        }
    }
}

// Section choose us

.sec-choose-us {
    .choose-card {
        border: 1px solid #FFFFFF30;
        background-color: #001027;
        padding: 20px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .choose-banner {
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .choose-icon {
            height: 54px;
        }
    }
}

// section counts 

.sec-counts {
    background-image: url(../../assets/img/about/count-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .counts {
        position: relative;
        z-index: 1;
    }
}

.sec-counts::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #001530c7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media(max-width: 998px) {
    .sec-counts {
        .counts {
            h4 {
                font-size: 20px !important;
            }

            p {
                font-size: 12px !important;
            }
        }
    }
}

// Section Agents 

.sec-agents {
    overflow: hidden;
    z-index: 1;

    .agent-card {
        background-color: #001027;
        border: 1px solid #FFFFFF30;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overflow: hidden;

        .agent-card-img {
            .agent-img {
                height: 200px;
                object-fit: cover;
                object-position: top;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            .agent-contact-container {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                background-color: #388eff70;
                border-top-right-radius: 6px;

                .agent-contact {
                    display: flex;
                    height: 50px;
                    align-items: center;
                    justify-content: center;

                    .img.fb,
                    .img.phone {
                        height: 24px;
                    }

                    .img.twitter {
                        height: 22px;
                    }

                    .img.mail {
                        height: 20px;
                    }
                }
            }
        }
    }
}

.sec-agents::before {
    content: '';
    position: absolute;
    bottom: -200px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/about/icon-bg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(357deg);
    z-index: 0;
}