<div class="sec-hero position-relative">
    <img class="img img-fluid hero-img" src="assets/img/about/banner.png">
    <div class="hero-content w-100">
        <div class="container">
            <h4 class="text-white heading-lg mb-5">Services</h4>
        </div>
    </div>
</div>
<div class="sp-bg-primary">
    <section class="sec-service container py-5">
        <div class="row pt-4">
            <div class="col-lg-6">
                <h5 class="heading-md mb-4 text-white">We Pyovide Right Choice of Properties</h5>
                <p class="sp-text-dull">We believe in more than just buying and selling properties. we believe in
                    turning dreams into reality. Explore our curated selection of homes tailored to your unique
                    lifestyle.</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="service-type d-flex align-items-center py-md-3 py-2">
                            <div class="service-type-img">
                                <img class="img img-fluid" src="assets/img/about/house.svg">
                            </div>
                            <p class="mb-0 ms-2 sp-text-dull">Best Home Layout</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-type d-flex align-items-center py-md-3 py-2">
                            <div class="service-type-img">
                                <img class="img img-fluid" src="assets/img/about/house.svg">
                            </div>
                            <p class="mb-0 ms-2 sp-text-dull">Marketing and Promotion</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-type d-flex align-items-center py-md-3 py-2">
                            <div class="service-type-img">
                                <img class="img img-fluid" src="assets/img/about/house.svg">
                            </div>
                            <p class="mb-0 ms-2 sp-text-dull">Representing Buyers</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-type d-flex align-items-center py-md-3 py-2">
                            <div class="service-type-img">
                                <img class="img img-fluid" src="assets/img/about/house.svg">
                            </div>
                            <p class="mb-0 ms-2 sp-text-dull">Lifetime Security Support</p>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <a class="sp-text-light fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-white.svg" style="height: 15px;"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-img position-relative ms-auto me-lg-0 me-auto">
                    <img class="img img-fluid" src="assets/img/service/service.png">
                </div>
            </div>
        </div>
    </section>

    <section class="sec-provide container py-5">
        <h5 class="heading-md mb-4 text-white text-center">What we Provide</h5>
        <div class="row pt-2">
            <div class="col-lg-4 col-md-6">
                <div class="provide-card h-100">
                    <img class="img img-fluid mb-3" style="height: 55px;" src="assets/icons/building.svg">
                    <h6 class="fs-20 mb-3 sp-text-dark">Buy a Home</h6>
                    <p class="mb-3 sp-text-dark">Calculate your mortgage payoff amount and any other financial
                        obligations related to the property.</p>
                    <a class="sp-text-info fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-blue.svg" style="height: 15px;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="provide-card h-100">
                    <img class="img img-fluid mb-3" style="height: 55px;" src="assets/icons/building.svg">
                    <h6 class="fs-20 mb-3 sp-text-dark">Sell a property</h6>
                    <p class="mb-3 sp-text-dark">Calculate your mortgage payoff amount and any other financial
                        obligations related to the property.</p>
                    <a class="sp-text-info fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-blue.svg" style="height: 15px;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="provide-card h-100">
                    <img class="img img-fluid mb-3" style="height: 55px;" src="assets/icons/building.svg">
                    <h6 class="fs-20 mb-3 sp-text-dark">Rent a property</h6>
                    <p class="mb-3 sp-text-dark">The potential rental income versus expenses, including mortgage
                        payments, property taxes, insurance, maintenance.</p>
                    <a class="sp-text-info fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-blue.svg" style="height: 15px;"></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-3">
                <div class="provide-card h-100">
                    <img class="img img-fluid mb-3" style="height: 55px;" src="assets/icons/building.svg">
                    <h6 class="fs-20 mb-3 sp-text-dark">Prime location</h6>
                    <p class="mb-3 sp-text-dark">Choosing a prime location is one crucial aspects of real estate,
                        whether for residential, commercial purposes.</p>
                    <a class="sp-text-info fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-blue.svg" style="height: 15px;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
                <div class="provide-card h-100">
                    <img class="img img-fluid mb-3" style="height: 55px;" src="assets/icons/building.svg">
                    <h6 class="fs-20 mb-3 sp-text-dark">Sell a property</h6>
                    <p class="mb-3 sp-text-dark">Calculate your mortgage payoff amount and any other financial
                        obligations related to the property.</p>
                    <a class="sp-text-info fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-blue.svg" style="height: 15px;"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-3">
                <div class="provide-card h-100">
                    <img class="img img-fluid mb-3" style="height: 55px;" src="assets/icons/building.svg">
                    <h6 class="fs-20 mb-3 sp-text-dark">Rent a property</h6>
                    <p class="mb-3 sp-text-dark">The cost-effectiveness in real estate involves maximizing the value and
                        benefits of a property while minimizing.</p>
                    <a class="sp-text-info fs-14">Know more<img class="img img-fluid ms-1"
                            src="assets/icons/arrow-blue.svg" style="height: 15px;"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-appartment container py-5">
        <h5 class="heading-md mb-4 text-white text-center">Types of Apartment</h5>
        <div class="appartment-list">
            <div class="py-3 appartment-content vila">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">Vila</h6>
                        <p class="sp-text-secondary fs-16 mb-0">20 Property</p>
                    </div>
                </div>
            </div>
            <div class="py-3 appartment-content penthouse">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">Penthouse</h6>
                        <p class="sp-text-secondary fs-16 mb-0">25 Property</p>
                    </div>
                </div>
            </div>
            <div class="py-3 appartment-content urban">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">Urban</h6>
                        <p class="sp-text-secondary fs-16 mb-0">20 Property</p>
                    </div>
                </div>
            </div>

            <div class="py-3 appartment-content factory">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">Factory</h6>
                        <p class="sp-text-secondary fs-16 mb-0">20 Property</p>
                    </div>
                </div>
            </div>
            <div class="py-3 appartment-content warehouse">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">Warehouse</h6>
                        <p class="sp-text-secondary fs-16 mb-0">20 Property</p>
                    </div>
                </div>
            </div>
            <div class="py-3 appartment-content city">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">City</h6>
                        <p class="sp-text-secondary fs-16 mb-0">20 Property</p>
                    </div>
                </div>
            </div>
            <div class="py-3 appartment-content store">
                <div class="appartment-type d-flex align-items-center">
                    <div class="appartment-img">
                        <img class="img img-fluid" src="assets/icons/building-white.svg">
                    </div>
                    <div class="ms-md-3 ms-2">
                        <h6 class="sp-text-dark mb-0 fs-20">Store</h6>
                        <p class="sp-text-secondary fs-16 mb-0">20 Property</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-client py-5">
        <div class="container pb-4">
            <h5 class="heading-md mb-4 text-white">Hear what our clients<br> say about us</h5>
        </div>

        <div class="owl-clients pt-2 pb-4">
            <owl-carousel-o [options]="testiOptions" #owlTestimonial>
                <ng-template carouselSlide>
                    <div class="client-card position-relative h-100">
                        <div class="bg-white rounded-3 p-4 h-100">
                            <h6 class="mb-3"><span class="sp-sub-secondary fs-40">“</span><span
                                    class="fs-24 sp-text-dark">I was impressed!</span></h6>
                            <p class="fs-14 sp-text-secondary mb-4">"l can't thank supremeproperties enough for their
                                exceptional service. As a first-time homebuyer, I was nervous about the process, but
                                their.</p>
                            <div class="d-flex">
                                <div class="">
                                    <img class="img img-fluid img-testi" src="assets/img/service/testi2.png">
                                </div>
                                <div class="ms-2">
                                    <h6 class="fs-20 mb-0 sp-text-dark">Devi</h6>
                                    <p class="sp-text-secondary mb-0 fs-16">Property Seller</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client-card position-relative h-100">
                        <div class="bg-white rounded-3 p-4">
                            <h6 class="mb-3"><span class="sp-sub-secondary fs-40">“</span><span
                                    class="fs-24 sp-text-dark">A game changer!</span></h6>
                            <p class="fs-14 sp-text-secondary mb-4">"l can't thank supremeproperties enough for their
                                exceptional service. As a first-time homebuyer, I was nervous about the process, but
                                their.</p>
                            <div class="d-flex">
                                <div class="">
                                    <img class="img img-fluid img-testi" src="assets/img/service/testi1.png">
                                </div>
                                <div class="ms-2">
                                    <h6 class="fs-20 mb-0 sp-text-dark">Venkat</h6>
                                    <p class="sp-text-secondary mb-0 fs-16">Property Seller</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client-card position-relative h-100">
                        <div class="bg-white rounded-3 p-4">
                            <h6 class="mb-3"><span class="sp-sub-secondary fs-40">“</span><span
                                    class="fs-24 sp-text-dark">Perfect service!</span></h6>
                            <p class="fs-14 sp-text-secondary mb-4">"l can't thank supremeproperties enough for their
                                exceptional service. As a first-time homebuyer, I was nervous about the process, but
                                their.</p>
                            <div class="d-flex">
                                <div class="">
                                    <img class="img img-fluid img-testi" src="assets/img/service/testi1.png">
                                </div>
                                <div class="ms-2">
                                    <h6 class="fs-20 mb-0 sp-text-dark">Arun Kumar</h6>
                                    <p class="sp-text-secondary mb-0 fs-16">Property Seller</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="position-relative container">
                <button class="testi-nav testi-nav-left" (click)="owlTestimonial.prev()">
                    <img class="img img-fluid" src="assets/icons/arrow-white.svg">
                </button>
                <button class="testi-nav testi-nav-right" (click)="owlTestimonial.next()">
                    <img class="img img-fluid" src="assets/icons/arrow-white.svg">
                </button>
            </div>
        </div>
    </section>
</div>