.sec-contact {
    padding-top: 170px;
    padding-bottom: 70px;
    background-image: url(../../assets/img/home/contact-bg.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    .contact-container {
        background-color: #FFFFFF10;
        border-radius: 20px;
    }
}
