<div class="sec-hero position-relative">
    <img class="img img-fluid hero-img" src="assets/img/project/banner.png">
    <div class="hero-content w-100">
        <div class="container">
            <h4 class="text-white heading-lg mb-5">Projects</h4>
        </div>
    </div>
</div>
<div class="sp-bg-primary project-details position-relative overflow-hidden">
    <div class="container py-5">
        <img class="img img-fluid w-100 rounded-2" src="assets/img/project/project1-banner.png">
        <div class="row mt-5 pt-3 pb-md-5 pb-0 mb-md-5 mb-3">
            <div class="col-lg-8">
                <h5 class="heading-md mb-4 text-white">Business Growth System</h5>
                <p class="sp-text-light mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat qui
                    ducimus illum modi? perspiciatis accusamus soluta perferendis, ad illum, nesciunt, reiciendis iusto
                    et cupidit Repudiandae provident to consectetur, sapiente, libero iure necessitatibus corporis nulla
                    voluptate, quisquam aut perspiciatis? Fugiat labore aspernatur eius, perspiciatis ut molestiae,
                    delectus rem.</p>
                <p class="sp-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                    nec ullamcorper mattis, pulv inar dapibus leo. Ut enim ad minim veniam. when an unknown printer took
                    a galley of type and scrambled it to make a type specimen book. Quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat. There are many variations of passages.</p>
            </div>
            <div class="col-lg-4 pt-lg-0 pt-3">
                <div class="project-info p-4 bg-white rounded-2">
                    <div class="d-flex">
                        <div class="">
                            <img class="img img-fluid" src="../../assets/icons/location.svg">
                        </div>
                        <div class="ms-2">
                            <h6 class="fs-16 sp-secondary">Our address</h6>
                            <p class="fs-14 sp-text-dark mb-0">Level 13, 2 Elizabeth St, Ambatur 3000, Chennai</p>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="">
                            <img class="img img-fluid" src="assets/icons/contact.svg">
                        </div>
                        <div class="ms-2">
                            <h6 class="fs-16 sp-secondary">Contact way</h6>
                            <a class="fs-14 sp-text-dark d-block" href="mailto:info@supremeproperties.com">info&#64;supremeproperties.com</a>
                            <a class="fs-14 sp-text-dark d-block" href="tel:+998757478492">+998757478492</a>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="">
                            <img class="img img-fluid" src="assets/icons/clock.svg">
                        </div>
                        <div class="ms-2">
                            <h6 class="fs-16 sp-secondary">Opening Hours</h6>
                            <p class="fs-14 sp-text-dark mb-0">Mon - Sat(8.00am - 6.00pm)</p>
                            <p class="fs-14 sp-text-dark mb-0">Sunday - Closed</p>
                        </div>
                    </div>
                    <div class="mt-4">
                        <img class="img img-fluid" src="assets/img/project/media.png">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>