<div class="sec-hero position-relative">
    <img class="img img-fluid hero-img" src="assets/img/project/banner.png">
    <div class="hero-content w-100">
        <div class="container">
            <h4 class="text-white heading-lg mb-5">Projects</h4>
        </div>
    </div>
</div>
<div class="sp-bg-primary">
    <section class="sec-project py-3">
        <div class="container py-4">
            <div class="row g-4">
                <div class="col-md-6 py-4">
                    <div class="project-card">
                        <div class="ps-4">
                            <img class="img img-fluid project-img w-100" src="assets/img/project/project1.png">
                        </div>
                        <div class="project-desc bg-blue">
                            <p class="fs-16 sp-primary">Marketing</p>
                            <h6 class="fs-24 mb-3 sp-text-dark">Business Growth System</h6>
                            <a class="fs-14 sp-text-dark fw-semi" routerLink="/project-detail">View More <img class="img img-fluid" src="assets/icons/arrow-black.svg"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-4">
                    <div class="project-card">
                        <div class="pe-md-4 pe-0 ps-md-0 ps-4">
                            <img class="img img-fluid project-img w-100" src="assets/img/project/project2.png">
                        </div>
                        <div class="project-desc bg-green ms-md-auto ms-0">
                            <p class="fs-16 sp-secondary">Marketing</p>
                            <h6 class="fs-24 mb-3 sp-text-dark">Upcoming New Projects</h6>
                            <a class="fs-14 sp-text-dark fw-semi" routerLink="/project-detail">View More <img class="img img-fluid" src="assets/icons/arrow-black.svg"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-4">
                    <div class="project-card">
                        <div class="ps-4">
                            <img class="img img-fluid project-img w-100" src="assets/img/project/project3.png">
                        </div>
                        <div class="project-desc bg-blue">
                            <p class="fs-16 sp-primary">Marketing</p>
                            <h6 class="fs-24 mb-3 sp-text-dark">Business Growth System</h6>
                            <a class="fs-14 sp-text-dark fw-semi" routerLink="/project-detail">View More <img class="img img-fluid" src="assets/icons/arrow-black.svg"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-4">
                    <div class="project-card">
                        <div class="pe-md-4 pe-0 ps-md-0 ps-4">
                            <img class="img img-fluid project-img w-100" src="assets/img/project/project4.png">
                        </div>
                        <div class="project-desc bg-green ms-md-auto ms-0">
                            <p class="fs-16 sp-secondary">Marketing</p>
                            <h6 class="fs-24 mb-3 sp-text-dark">Upcoming New Projects</h6>
                            <a class="fs-14 sp-text-dark fw-semi" routerLink="/project-detail">View More <img class="img img-fluid" src="assets/icons/arrow-black.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>