<div id="homeHero" class="home-hero carousel slide">
  <div class="ci-container">
    <div class="container h-100">
      <div class="carousel-indicators ci-list pb-5">
        <button type="button" data-bs-target="#homeHero" data-bs-slide-to="0" class="active ci-dot-nav"
          aria-current="true" aria-label="Slide 1"><img class="img img-fluid h-100"
            src="assets/img/home/banner-inc-1.svg"></button>
        <button class="ci-dot-nav" type="button" data-bs-target="#homeHero" data-bs-slide-to="1"
          aria-label="Slide 2"><img class="img img-fluid h-100" src="assets/img/home/banner-inc-2.svg"></button>
        <button class="ci-dot-nav" type="button" data-bs-target="#homeHero" data-bs-slide-to="2"
          aria-label="Slide 3"><img class="img img-fluid h-100" src="assets/img/home/banner-inc-3.svg"></button>
        <button class="ci-dot-nav" type="button" data-bs-target="#homeHero" data-bs-slide-to="3"
          aria-label="Slide 4"><img class="img img-fluid h-100" src="assets/img/home/banner-inc-4.svg"></button>
      </div>
    </div>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/home/banner1.png" class="d-block w-100 banner-img" alt="...">
      <div class="carousel-container d-flex align-items-end">
        <div class="container">
          <h5 class="text-white heading-lg mb-4">We'll help you find a <br>place you'll love</h5>
          <p class="text-white sp-text-light">Find a variety of properties that suit you very easily, <br class="d-md-block d-none">forget all
            difficulties in finding a residence for you</p>
          <div class="banner-search my-md-5 my-4">
            <input class="search-input" type="text" placeholder="Enter address, State, City, Area or Zip Code">
            <button class="btn sp-btn-primary d-inline-flex align-items-center btn-sm px-4"><img
                class="img img-fluid pe-2" src="assets/icons/search.svg">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/home/banner2.png" class="d-block w-100 banner-img" alt="...">
      <div class="carousel-container d-flex align-items-end">
        <div class="container">
          <h5 class="text-white heading-lg mb-4">The home of your <br>dreams is waiting for you</h5>
          <p class="text-white sp-text-light">Find a variety of properties that suit you very easily, <br class="d-md-block d-none">forget all
            difficulties in finding a residence for you</p>
          <button class="btn sp-btn-secondary mb-md-5 mb-4 mt-md-4 mt-2">View Details <img class="img img-fluid arrow-details ps-2"
              src="assets/icons/arrow-dark.svg"></button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/home/banner3.png" class="d-block w-100 banner-img" alt="...">
      <div class="carousel-container d-flex align-items-end">
        <div class="container">
          <h5 class="text-white heading-lg mb-4">We'll help you find <br>a place you'll love</h5>
          <p class="text-white sp-text-light">Find a variety of properties that suit you very easily, <br class="d-md-block d-none">forget all
            difficulties in finding a residence for you</p>
          <button class="btn sp-btn-secondary mb-md-5 mb-4 mt-md-4 mt-2">View Details <img class="img img-fluid arrow-details ps-2"
              src="assets/icons/arrow-dark.svg"></button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/home/banner4.png" class="d-block w-100 banner-img" alt="...">
      <div class="carousel-container d-flex align-items-end">
        <div class="container">
          <h5 class="text-white heading-lg mb-4">We'll help you find <br>a place you'll love</h5>
          <p class="text-white sp-text-light">Find a variety of properties that suit you very easily, <br class="d-md-block d-none">forget all
            difficulties in finding a residence for you</p>
          <button class="btn sp-btn-secondary mb-md-5 mb-4 mt-md-4 mt-2">View Details <img class="img img-fluid arrow-details ps-2"
              src="assets/icons/arrow-dark.svg"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sp-bg-primary overflow-hidden">
  <section class="sec-design container-fluid py-5 px-0">
    <div class="row g-0">
      <div class="col-md-4 col-2">
        <img class="img img-fluid w-100 design-img design-left" src="assets/img/home/design1.png">
      </div>
      <div class="col-md-4 col-8">
        <img class="img img-fluid w-100 design-img design-center" src="assets/img/home/design2.png">
      </div>
      <div class="col-md-4 col-2">
        <img class="img img-fluid w-100 design-img design-right" src="assets/img/home/design3.png">
      </div>
    </div>
  </section>

  <section class="sec-client pt-md-5 pt-4">
    <div class="container">
      <p class="sp-tertiary sec-client-head fs-20 text-center">People put trust in us, here are some of them</p>
      <div class="clients-list">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/scale.png">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/terra.png">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/snapshot.png">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/umbrella.png">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/waveless.png">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/vision.png">
        <img class="img img-fluid px-3 client-img" src="assets/img/clients/vertigo.png">
      </div>
    </div>
  </section>

  <section class="sec-properties position-relative">
    <img class="img img-fluid animie-home" src="assets/img/home/animie-home.png">
    <div class="container pt-md-5 pt-4">
      <div class="sec-properties-head">
        <h4 class="heading-md text-white text-center pt-5">Latest Properties</h4>
      <p class="heading-width sp-text-light text-center mx-auto">These are the latest properties in the Sales category.
        You can
        create the list using the “latest listing shortcode” and show items by specific categories.</p>
      </div>

      <div class="property-filter">
        <ul class="mb-0 ps-0 pt-3 pb-md-2 pb-0 row g-md-3 g-1 justify-content-center">
          <li class="col-md-auto col-4 py-1"><a class="filter-btn active"><img class="img img-fluid pe-2" src="assets/icons/home.svg">For
              Sale</a></li>
          <li class="col-md-auto col-4 py-1"><a class="filter-btn"><img class="img img-fluid pe-2" src="assets/icons/home.svg">Villas</a>
          </li>
          <li class="col-md-auto col-4 py-1"><a class="filter-btn"><img class="img img-fluid pe-2"
                src="assets/icons/home.svg">Apartments</a></li>
          <li class=" col-md-auto col-4 py-1"><a class="filter-btn"><img class="img img-fluid pe-2" src="assets/icons/home.svg">Houses</a>
          </li>
          <li class="col-md-auto col-4 py-1"><a class="filter-btn"><img class="img img-fluid pe-2" src="assets/icons/home.svg">Condos</a>
          </li>
          <li class="col-md-auto col-4 py-1"><a class="filter-btn"><img class="img img-fluid pe-2" src="assets/icons/home.svg">Retail</a>
          </li>
        </ul>
      </div>

      <div class="row property-list mt-3 pb-5">
        <div class="col-lg-4 col-md-6 py-3 property-individual{{i}}" *ngFor="let data of properties; let i = index">
          <app-property [property]="data"></app-property>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-match py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 match-head-left">
          <h4 class="heading-md text-white">Discover Your Perfect <br>Property Match</h4>
        </div>
        <div class="col-md-6 match-head-right">
          <p class="sp-text-light">Lorem ipsum dolor sit amet consectLorem ipsum dolor sit amet consectetur adipiscing
            elit sed do eiusmod tempor incididunt ut labore et dolore.etur adipiscing elit sed do eiusmod tempor
            incididunt ut labore et dolore.</p>
        </div>
      </div>
      <div class="row py-md-5 py-2">
        <div class="col-md-6 col-left">
          <img class="img img-fluid sec-match-img" src="assets/img/home/home1.png">
        </div>
        <div class="col-md-6 col-right mt-md-0 mt-3">
          <img class="img img-fluid sec-match-img" src="assets/img/home/home2.png">
          <div class="row pt-3 col-another-right">
            <div class="col-6 pt-2">
              <img class="img img-fluid sec-match-img" src="assets/img/home/home3.png">
            </div>
            <div class="col-6 pt-2">
              <img class="img img-fluid sec-match-img" src="assets/img/home/home4.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-value overflow-hidden py-5">
    <div class="container py-3">
      <div class="row flex-lg-row flex-column-reverse">
        <div class="col-lg-6 col-left">
          <img class="img img-fluid w-100" src="assets/img/home/interior.png">
        </div>
        <div class="col-lg-6 col-right">
          <h6 class="fs-20 fw-semi sp-sub-secondary mb-3">Our Value</h6>
          <h5 class="heading-md text-white mb-3">Value We Give To You.</h5>
          <p class="fs-16 sp-text-tertiary">We always ready to help by providing the best service for you, We believe a
            good place to live can make your life better</p>

          <div class="accordion value-accordion" id="ourValueAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="d-flex justify-content-between w-100">
                    <span class="d-flex align-items-center">
                      <div class="p-2 rounded-2 interest-icon">
                        <img class="img img-fluid" src="assets/icons/interest.svg">
                      </div>
                      <span class="fs-18 fw-semi ps-3">Best interest rates on the market</span>
                    </span>
                    <span class="accordion-chevron float-end"><img class="img img-fluid"
                        src="assets/icons/chevron.svg"></span>
                  </span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#ourValueAccordion">
                <div class="accordion-body pt-0">
                  <p class="sp-text">Price we provide the Oest for you. we guarantee no price changes on your groperty
                    due to vaeious unexpected costs that may come,</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button py-4" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <span class="d-flex justify-content-between w-100">
                    <span class="d-flex align-items-center">
                      <div class="p-2 rounded-2 interest-icon">
                        <img class="img img-fluid" src="assets/icons/interest.svg">
                      </div>
                      <span class="fs-18 fw-semi ps-3">Prevent unstable prices</span>
                    </span>
                    <span class="accordion-chevron float-end"><img class="img img-fluid"
                        src="assets/icons/chevron.svg"></span>
                  </span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#ourValueAccordion">
                <div class="accordion-body pt-0">
                  <p class="sp-text">Price we provide the Oest for you. we guarantee no price changes on your groperty
                    due to vaeious unexpected costs that may come,</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="d-flex justify-content-between w-100">
                    <span class="d-flex align-items-center">
                      <div class="p-2 rounded-2 interest-icon">
                        <img class="img img-fluid" src="assets/icons/interest.svg">
                      </div>
                      <span class="fs-18 fw-semi ps-3">Best interest rates on the market</span>
                    </span>
                    <span class="accordion-chevron float-end"><img class="img img-fluid"
                        src="assets/icons/chevron.svg"></span>
                  </span>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#ourValueAccordion">
                <div class="accordion-body pt-0">
                  <p class="sp-text">Price we provide the Oest for you. we guarantee no price changes on your groperty
                    due to vaeious unexpected costs that may come,</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <span class="d-flex justify-content-between w-100">
                    <span class="d-flex align-items-center">
                      <div class="p-2 rounded-2 interest-icon">
                        <img class="img img-fluid" src="assets/icons/interest.svg">
                      </div>
                      <span class="fs-18 fw-semi ps-3">Security Of your data</span>
                    </span>
                    <span class="accordion-chevron float-end"><img class="img img-fluid"
                        src="assets/icons/chevron.svg"></span>
                  </span>
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#ourValueAccordion">
                <div class="accordion-body pt-0">
                  <p class="sp-text">Price we provide the Oest for you. we guarantee no price changes on your groperty
                    due to vaeious unexpected costs that may come,</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-agents py-5">
    <div class="container py-3">
      <div class="sec-agent-head">
        <h4 class="heading-md text-white text-center pt-md-5 pt-0">Real Estate Agents</h4>
      <p class="heading-width sp-text-light text-center mx-auto">Publish the best of your client testimonials and let
        the world know what a great agent or real estate agency you are. Testimonials build trust.</p>
      </div>
      <div class="row py-3">
        <div class="col-lg-4 agent1">
          <div class="agent-card">
            <img class="img img-fluid d-flex mx-auto agent-img" src="assets/img/agent/agent1.png">
            <div class="agent-content">
              <div class="">
                <h5 class="text-white">K.V.Saravanan</h5>
                <p class="mb-0 sp-text-tertiary">Manager Director</p>
              </div>
              <img class="img leaf-icon" src="assets/icons/leaf.svg">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0 agent2">
          <div class="agent-card">
            <img class="img img-fluid d-flex mx-auto agent-img" src="assets/img/agent/agent2.png">
            <div class="agent-content">
              <div class="">
                <h5 class="text-white">K.V.Saravanan</h5>
                <p class="mb-0 sp-text-tertiary">Manager Director</p>
              </div>
              <img class="img leaf-icon" src="assets/icons/leaf.svg">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0 agent3">
          <div class="agent-card">
            <img class="img img-fluid d-flex mx-auto agent-img" src="assets/img/agent/agent3.png">
            <div class="agent-content">
              <div class="">
                <h5 class="text-white">K.V.Saravanan</h5>
                <p class="mb-0 sp-text-tertiary">Manager Director</p>
              </div>
              <img class="img leaf-icon" src="assets/icons/leaf.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="sec-testimonials pt-md-4 pt-0 pb-md-5 pb-0">
    <div class="container pt-3 pb-4">
      <div class="testi-heading">
        <h4 class="heading-md text-white text-center pt-md-5 pt-0">Testimonials</h4>
      <p class="heading-width sp-text-light text-center mx-auto">Publish the best of your client testimonials and let
        the world know what a great agent or real estate agency you are. Testimonials build trust.</p>
      </div>
      <div class="row pt-3 pb-4 testi-content">
        <div class="col-md-4" [ngClass]="{'mt-md-0' : i === 1 || i === 2, 'mt-3' : i > 0 }"
          *ngFor="let data of testimonialList; let i = index">
          <div class="testi-card h-100 d-flex flex-column">
            <h5 class="sp-primary fw-semi fs-20 mb-4"><img class="img testi-person-img img-fluid w-auto me-3 d-inline"
                [src]="'assets/img/testimonial/' + data.image">{{ data.name }}</h5>
            <p class="sp-text mb-4">{{ data.content }}</p>
            <div class="testi-rating my-auto mb-2">
              <ng-container *ngFor="let rating of data.rating">
                <img *ngIf="rating == 1; else testiZeroStar" class="img img-fluid w-auto d-inline ms-1"
                  src="assets/icons/star.svg">
                <ng-template #testiZeroStar>
                  <img class="img img-fluid w-auto d-inline ms-1" src="assets/icons/star-o.svg">
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-dream-home py-4">
    <div class="container py-md-3 py-0">
      <div class="dream-home-container position-relative my-5 px-3 overflow-hidden">
        <div class="row">
          <div class="col-lg-6">
            <div class="dream-home-content ps-lg-5 ps-3 py-lg-5 py-3 pe-3">
              <h5 class="heading-md mb-4 sp-text-dark">Explore your dream home today</h5>
              <p class="sp-text mb-4">Publish the best of your client testimonials and let the world know what a great agent or real estate agency you are. Testimonials build trust</p>
              <button class="btn ps-4 py-2 explore-btn sp-primary" routerLink="/contact-us">Start Exploring <img class="img img-fluid ms-3 exp-nav" src="assets/icons/arrow.svg"></button>
            </div>
          </div>
          <div class="col-lg-6 mt-auto dream-home-img">
            <img class="img img-fluid" src="assets/img/home/dream-home.png">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>