<div class="footer-bg">
    <div class="container pb-3">
        <div class="row pb-5 pt-4">
            <div class="col-lg-6">
                <img class="img img-fluid" src="assets/img/logo.svg">
                <p class="sp-text-tertiary mt-2 fs-16">Lorem ipsum dolor sit amet, consec <br> tetur adipisicing elit, sed do
                    eiusmod<br> tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-7 pt-4">
                        <h6 class="fs-16 text-white mb-4 text-nowrap">Contact Information</h6>
                        <a class="d-block sp-text-tertiary mb-3" href="tel:+919798253523"><img class="img img-fluid icon-img me-3" src="assets/icons/phone.svg">+91 9798253523</a>
                        <a class="d-block sp-text-tertiary mb-3 text-nowrap" href="mailto:supremeproperties@gmail.com"><img class="img img-fluid icon-img me-3" src="assets/icons/mail.svg">supremeproperties&#64;gmail.com</a>
                    </div>
                    <div class="col-lg-5 pt-4">
                        <h6 class="fs-16 text-white mb-4">Our Company</h6>
                        <a class="d-block sp-text-tertiary mb-3"><img class="img img-fluid me-2 icon-arrow" src="assets/icons/arrow-success.svg">Property For Sale</a>
                        <a  class="d-block sp-text-tertiary mb-3"><img class="img img-fluid me-2 icon-arrow" src="assets/icons/arrow-success.svg">Property For Rent</a>
                        <a  class="d-block sp-text-tertiary mb-3"><img class="img img-fluid me-2 icon-arrow" src="assets/icons/arrow-success.svg">About Us</a>
                        <a  class="d-block sp-text-tertiary mb-3"><img class="img img-fluid me-2 icon-arrow" src="assets/icons/arrow-success.svg">Our Agents</a>
                        <a  class="d-block sp-text-tertiary mb-3"><img class="img img-fluid me-2 icon-arrow" src="assets/icons/arrow-success.svg">Our Agency</a>
                        <a  class="d-block sp-text-tertiary mb-3"><img class="img img-fluid me-2 icon-arrow" src="assets/icons/arrow-success.svg">Contact Us</a>

                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-0 footer-hr">
        <div class="d-lg-flex d-block text-lg-start text-center justify-content-between align-items-center py-3">
            <p class="fs-16 text-white mb-0">Copyrihgt &copy; 2024 Supreme Properties.</p>
            <div class="d-flex justify-content-lg-end justify-content-center pt-lg-0 pt-3">
                <a class="icon-social d-block me-2">
                    <img class="img img-fluid" src="assets/icons/fb.svg">
                </a>
                <a class="icon-social d-block me-2">
                    <img class="img img-fluid" src="assets/icons/insta.svg">
                </a>
                <a class="icon-social d-block me-2">
                    <img class="img img-fluid" src="assets/icons/twitter.svg">
                </a>
            </div>
        </div>
    </div>
</div>